.img_carousel {

  width: 60%;
  height: 30%;

}

div h5 {

  font-family:Helvetica Narrow, sans-serif;

}

p.card-text {

  font-family:Palatino, serif;

}


#brother_title {

  text-align: center;
  font-family:Gill Sans, sans-serif;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}


td, th {

  border: 1px solid #FFFFFF;
  text-align: center;
  padding: 8px;

}

.buttons {

  margin-top: 0.5%;

}
